* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ============ Header Style Start ============== */
header {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
    position: sticky;
    top: 0;
}

header h2 {
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

header .menu_container {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

header .menu_container .logo {
    text-transform: uppercase;
}

.nav_bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_bar ul li {
    display: inline-block;
    padding: 3px;
    border: 1px dashed #333;
    transition: all 3s;
}

.nav_bar ul li:hover {
    background-color: transparent;
}

.nav_bar ul li a {
    color: #fff;
    text-decoration: none;
}

/* ============= Header Style End ============== */

/* ============= Hero Style Start ============== */
.hero_area {
    display: flex;
}

.hero_area .left_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    background: #000;
    color: #fff;
}

.hero_area .left_hero h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 3px 3px 33px aqua;
}

.hero_area .left_hero span.blue {
    color: #00cccc;
    padding: 0 9px;
}

.hero_area .left_hero p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    margin-top: 9px;
    font-size: 1.4rem;
    font-weight: 500;
}

.hero_area .right_hero {
    width: 50vw;
    height: 90vh;
    background-image: url('../images/junayet_sikder.png');
    background-position: center center;
    background-size: cover;
}

/* =========== Hero  Style   End Here   =========== */
/* =========== About Section Start Here =========== */
.about_area,
.skill_section,
.contact_section {
    background-color: #000;
    color: #fff;
    min-height: 50vh;
}

.about_area h2,
.skill_section h2,
.contact_section h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px 0 19px;
    font-family: tahoma, sans-serif;
}

.about_area .about_container {
    display: flex;
    justify-content: space-around;
}

.academic_about,
.basic_about {
    width: 40vw;
    border: 1px solid #00cccc;
    border-radius: 9px;
    margin-bottom: 6px;
}

.academic_about h3,
.basic_about h3 {
    font-family: tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 6px;
}

.about_title {
    font-family: tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin: 3px auto;
    padding-top: 3px;
}

.about_description {
    margin: 3px 0;
    font-family: tahoma, sans-serif;
    line-height: 19px;
    padding: 3px;
}

/* =========== About Section End Here =========== */
/* =========== Skill Section End Here =========== */
.current_skill h3 {
    text-align: center;
    text-transform: capitalize;
    margin: 9px 0;
    font-family: tahoma, sans-serif;
}

.current_skill .current_skill_container,
.current_skill .upcoming_skill_contianer {
    display: flex;
    gap: 6px;
    justify-content: space-around;
    margin: 0 9px;
}

.current_skill .current_skill_container>div,
.current_skill .upcoming_skill_contianer>div {
    border: 1px solid teal;
    border-radius: 9px;
    padding: 9px;
    margin-bottom: 9px;
    flex: 1;
}

.current_skill .current_skill_container>div>h4,
.current_skill .upcoming_skill_contianer>div>h4 {
    font-family: tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.current_skill .current_skill_container>div>p,
.current_skill .upcoming_skill_contianer>div>p {
    line-height: 1.3rem;
}

/* =========== Skill Section End Here =========== */
/* =========== Contact Section Start Here =========== */
.form_container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 21px;
}

.form_container form{
    padding: 12px;
    border: 2px solid turquoise;
    border-radius: 6px;
}
.form_container form label,
.form_container form input
{
    display: block;
    padding: 12px;
    width: 90%;
    margin: 0.5rem auto;
}
.form_container form input:focus
{
    outline: none;
}
.form_container form input.submit
{
    margin-top: 18px;
    background: turquoise;
    cursor: pointer;
}
/* =========== Contact Section End Here =========== */