*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}
header h2{
    font-size: 54px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
header .menu_container{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
header .menu_container .logo{
    text-transform: uppercase;
}
.nav_bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav_bar ul li{
    display: inline-block;
    padding: 3px;
    border: 1px dashed #333;
    transition: all 3s;
}
.nav_bar ul li:hover{
    background-color: transparent;
}
.nav_bar ul li a{
    color: #fff;
    text-decoration: none;
}
.hero_area{
    display: flex;
}
.hero_area .left_hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background: #000;
    color: #fff;
}
.hero_area .left_hero h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 3px 3px 33px aqua;
}
.hero_area .left_hero span.blue{
    color: #00cccc;
    padding: 0 9px;
}
.hero_area .left_hero p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    margin-top: 9px;
    font-size: 1.4rem;
    font-weight: 500;
}